@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

/* Add this to your global.css file */
.hero-background {
  position: absolute;
  inset: 0;
  background-image: url("/jesus-silhouette.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .hero-background {
    background-image: url("/jesus-silhouette_mobile.jpg");
  }
}
